{% extends 'index.html' %}
{% load general %}

{% block content %}

    {# create grader form #}
    <div class="additional_windows" id="create_grader_form">
        <form method="post" action="{% url 'add_grader' %}">
            {% csrf_token %}

            <h1>Создать тест</h1>
            {% for item in create_grader_form %}
                <div class="item">
                    <label>{{ item.label }}:</label><br>
                    {{ item }} <br>
                </div><br>
            {% endfor %}
            <div id="questions">
            </div>

            <div class="item">
                <div class="button_add_element" id="add_question_t1">Добавить вопрос</div>
            </div>
            <br>
            <div class="item">
                <div class="button_add_element" id="add_question_t2">Добавить компетенцию</div>
            </div>
            <br>

            <div class="item">
                <input type="submit" value="Создать">
            </div>
            <br>
            <div class="item">
                <div class="form_button" id="close_create_grader_form">Отмена</div>
            </div>

            <script type="text/javascript">
                $('#add_question_t2').on('click', function () {
                    var num = ($('#questions').children().length);
                    $('#questions').append("<div class=\"item\"><label>Компетенция</label><select id=\"q" + num + "\"name=\"t2_q_" + num + "\"><option></option>" +
                        "{% for item in competences %} <option value=\"{{ item.id }}\">{{ item.name }}" +
                            "</option>{% endfor %}"
                        + "</select></div><br>");
                });
                $('#add_question_t1').on('click', function () {
                    var num = ($('#questions').children().length);
                    $('#questions').append("<div class=\"item\"><label>Вопрос</label><input name=\"t1_q_" + num + "\" type=\"text\"></div><br>");
                });
            </script>
        </form>
    </div>


    {# create competence form #}
    <div class="additional_windows" id="create_competence_form">
        <form method="post" action="{% url 'add_competence' %}">
            {% csrf_token %}
            <h1>Создать компетенцию</h1>

            <div class="item">
                <label>Название:</label>
                <input type="text" name="name" placeholder="name">
            </div>
            <div id="indicators">

            </div>
            <br>
            <div class="item">
                <div class="button_add_element" id="add_indicator">Добавить</div>
            </div>
            <br>
            <script type="text/javascript">
                $('#add_indicator').on('click', function () {
                    var num = ($('#indicators').children().length) / 2;
                    $('#indicators').append('<div class="item"><label>Индикатор ' + (num + 1) + '</label>' +
                        '<input type="text" placeholder="описание" name="indicator_name' + num + '"><br><br>' +
                        '<input placeholder="вес" type="text" name="indicator_value' + num + '"></div><br>');
                });
            </script>
            <div class="item">
                <input type="submit" value="Создать">
            </div>
            <br>
            <div class="item">
                <div class="form_button" id="close_create_competence_form">Отмена</div>
            </div>
        </form>
    </div>


    <div class="templates">
        <h3>Тесты</h3>
        <button id="create_grader">Создать тест</button>
        <table>
            <tr>
                <th>Название</th>
                <th>Тип</th>
                <th>Посмотреть</th>
            </tr>
            {% for item in grade_templates %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ constance.GRADE_TEMPLATE_TYPES_DICT|get_item:item.type }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="templates">
        <h3>Компетенции</h3>
        <button id="create_competence">Создать компетенцию</button>
        <table>
            <tr>
                <th>Название</th>
                <th>Кол-во индикаторов</th>
                <th>Посмотреть</th>
            </tr>
            {% for item in competences %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.indicators.all | length }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>


    {# buttons scripts #}
    <script type="text/javascript">
        $('#create_grader').on('click', function () {
            $('#create_grader_form').css('display', 'inline-block');
        });

        $('#create_competence').on('click', function () {
            $('#create_competence_form').css('display', 'inline-block');
        });

        $('#close_create_competence_form').on('click', function () {
            $('#create_competence_form').css('display', 'none');
        });

        $('#close_create_grader_form').on('click', function () {
            $('#create_grader_form').css('display', 'none');
        });
    </script>
{% endblock %}