{% extends 'index.html' %}
{% load general %}
{% block content %}
    <div class="templates" style="float:left">
        <h1>{{ requested_profile.name }}</h1> <br>
        Тип пользователя: {{ requested_profile.user_type }} <br>
        Должность: {{ requested_profile.user_position }} <br>

        {% if requested_profile.manager_profiles|length > 0 %}
            Руководители:
            {% for manager in requested_profile.manager_profiles %}
                {{ manager.user.username }}<br>
            {% endfor %}
            <br>
        {% endif %}

        {% if requested_profile.subordinate_profiles|length > 0 %}
            Подчиненные:
            {% for subordinate in requested_profile.subordinate_profiles %}
                {{ subordinate.user.username }}<br>
            {% endfor %}
        {% endif %}

    </div>
    <img style="float:right" src="{% media requested_profile.avatar|stringformat:"s" %}" width="20%">

{% endblock %}