{% extends 'index.html' %}

{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static "css/sign_in.css" %}" type="text/css">
    <style>
        .main_block {
            margin-left: 0;
        }
    </style>
{% endblock %}

{% block content %}


    <form enctype="multipart/form-data" method="POST" class="login" action="{% url 'sign_up' %}">
        <h1>Регистрация</h1>
        {% csrf_token %}
        {% for field in user_form %}
            {{ field }}<br><br>
        {% endfor %}
        <input type="submit" name="" value="Зарегистрироваться"><br><br>
        <a href="{% url 'sign_in' %}" class="forgot_password">Войти</a>
    </form>


{% endblock %}