
form {
    background: #f6f6f6;
    display: inline-block;
    width: 40%;
    margin-left: 30%;
    height: 90%;
    margin-top: 3%;
    /*vertical-align: middle;*/
    text-align: center;
    overflow: auto;
}

form input[type="text"], form select {
    width: 100%;
    padding: 3% 8%;
    box-shadow: none;
}

form .item {
    display: inline-block;
    text-align: left;
    width: 40%;
}

form label {
    margin-top: 10%;
    margin-bottom: 5%;
    display: inline-block;
}

input[type="submit"] {
    margin-top: 5%;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 3% 8%;
    text-transform: uppercase;
    float: right;
    border: 0;
    margin-bottom: 2%;
    /*border: 1px solid grey;*/
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
    /*border-radius: 10px;*/
    background: #469535;
    font-size: 1em;
    color: white;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;

}

.form_button {
    margin-top: 5%;
    text-align: center;
    display: inline-block;
    width: 83%;
    padding: 3% 8%;
    text-transform: lowercase;
    font-size: 1em;
    border: 1px solid grey;
    background: red;
    color: white;
}